body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h2:before {
  content: '';
  height: 10px;
  width: 50px;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  display: block;
  background: #761a20;
}

h1 {
  font-size: 2.5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.2rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #ca7e71;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #761a20;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.fab {
  line-height: unset;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #761a20;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

.img-profile2 {
  max-width: 6rem;
  max-height: 6rem;
  border: 0.1rem solid rgba(255, 0, 0, 0.2);
}

.download-btn:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.download-btn {
  position: absolute;
  top: 4rem;
  right: 1rem;

  padding: 0.5rem 1rem 0.5rem 1rem;

  border-radius: 4px;
  box-shadow: inset 0 0px 4px rgba(0,0,0,.3);
  
  color: white;
  background-color: #ca7e71;

  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a.download-btn:hover, a.download-btn:focus, a.download-btn:active {
  text-decoration: none;
  color: white;
  background-color: #761a20;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 3.5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-inline-start: 0;
}

ul.timeline:before {
  content: ' ';
  background: #ccc;
  display: inline-block;
  position: absolute;
  left: 0.5rem;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  padding-left: 2rem;
}

ul.timeline > li:before {
  content: ' ';
  background: #761a20;
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(118,26,32, .4);
  left: 1px;
  width: 16px;
  height: 16px;
  z-index: 400;
}

.copyright {
  background: #761A20;
  color: white;
  padding: 1rem 0;
  margin: 0;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .download-btn {
    right: 3rem;
  }
}

.bg-primary {
  background-color: #761A20 !important;
}

.text-primary {
  color: #761A20 !important;
}

.text-secondary {
  color: #ca7e71 !important;
}

a {
  color: #761A20;
}

a:hover, a:focus, a:active {
  color: #ca7e71;
}

.progress {
	border-radius: 15px;
	height: 25px;
}

.language-name {
	text-transform: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 0;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
}

.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: #46a546 ;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.0s;
}

@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}




.progress-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0;
  box-shadow: none;
  position: relative;
}
.progress-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-circle > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-circle .progress-circle-left {
  left: 0;
}
.progress-circle .progress-circle-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #761A20;
}
.progress-circle .progress-circle-left .progress-circle-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-circle .progress-circle-right {
  right: 0;
}
.progress-circle .progress-circle-right .progress-circle-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress-circle .progress-circle-value {
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress-circle .progress-circle-value div {
  margin-top: 10px;
}
.progress-circle .progress-circle-value span {
  font-size: 0.4em;
  text-transform: uppercase;
}
.progress-circle[data-percentage="10"] .progress-circle-right .progress-circle-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress-circle[data-percentage="10"] .progress-circle-left .progress-circle-bar {
  animation: 0;
}
.progress-circle[data-percentage="20"] .progress-circle-right .progress-circle-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress-circle[data-percentage="20"] .progress-circle-left .progress-circle-bar {
  animation: 0;
}
.progress-circle[data-percentage="30"] .progress-circle-right .progress-circle-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress-circle[data-percentage="30"] .progress-circle-left .progress-circle-bar {
  animation: 0;
}
.progress-circle[data-percentage="40"] .progress-circle-right .progress-circle-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress-circle[data-percentage="40"] .progress-circle-left .progress-circle-bar {
  animation: 0;
}
.progress-circle[data-percentage="50"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="50"] .progress-circle-left .progress-circle-bar {
  animation: 0;
}
.progress-circle[data-percentage="60"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="60"] .progress-circle-left .progress-circle-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="70"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="70"] .progress-circle-left .progress-circle-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="75"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="75"] .progress-circle-left .progress-circle-bar {
  animation: loading-25 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="80"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="80"] .progress-circle-left .progress-circle-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="90"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="90"] .progress-circle-left .progress-circle-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="95"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="95"] .progress-circle-left .progress-circle-bar {
  animation: loading-45 1.5s linear forwards 1.5s;
}
.progress-circle[data-percentage="100"] .progress-circle-right .progress-circle-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="100"] .progress-circle-left .progress-circle-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(50);
    transform: rotate(90deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(50);
    transform: rotate(163deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

.progress-circle {
  margin-bottom: 1em;
}

.card-title {
  margin-bottom: 0;
}

.h6-text {
  text-transform: none;
  font-style: italic;
  font-weight: normal;
  color: #343a40;
}

.ratings-icons {
  color: #fec42d;
}

.testimonial-text {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.cover-card {
	padding: 0px;
	margin: 0px;
	height:200px;
}

.cover-text {
  color: white;
}